#### Features
- Gordinho
- Perna curta
- Faz au au

In [28]:
import pandas as pd
import numpy  as np

In [11]:
dados = pd.DataFrame({
  'Gordinho':    [1, 1, 1, 1, 0, 0],
  'Perna_Curta': [1, 1, 1, 1, 1, 1],
  'Faz_Au_Au':   [0, 0, 0, 1, 1, 1],
  'Animal': [
    'Porco',
    'Porco',
    'Porco',
    'Cachorro',
    'Cachorro',
    'Cachorro'
  ]
})

dados

   Gordinho  Perna_Curta  Faz_Au_Au    Animal
0         1            1          0     Porco
1         1            1          0     Porco
2         1            1          0     Porco
3         1            1          1  Cachorro
4         0            1          1  Cachorro
5         0            1          1  Cachorro

Sendo:
- Porco = 1
- Cachorro = 0

In [12]:
dados['Animal'] = dados['Animal'].map({'Porco': 1, 'Cachorro': -1})

In [13]:
dados

   Gordinho  Perna_Curta  Faz_Au_Au  Animal
0         1            1          0       1
1         1            1          0       1
2         1            1          0       1
3         1            1          1      -1
4         0            1          1      -1
5         0            1          1      -1

In [29]:
misterio = np.array([1, 1, 1])

In [15]:
from sklearn.naive_bayes import MultinomialNB

In [16]:
modelo = MultinomialNB()

In [22]:
dados.iloc[:, -1]

0    1
1    1
2    1
3   -1
4   -1
5   -1
Name: Animal, dtype: int64

In [56]:
modelo.fit(dados.iloc[:, :-1].values, dados.iloc[:, -1].values)

modelo

MultinomialNB()

In [57]:
misterio.reshape(1, -1)

array([[1, 1, 1]])

In [58]:
modelo.predict(misterio.reshape(1, -1))

array([-1])

In [59]:
misterio.ndim

1

In [60]:
def predicao(dado):
  dado = np.array(dado)
  
  if dado.ndim == 1:
    dado = np.array([dado])
    
  retorno = modelo.predict(dado)[0]

  print('Porco' if retorno == 1 else 'Cachorro')

In [61]:
predicao([1, 1, 1])

Cachorro